.ql-mention-denotation-char {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2px 5px;
    z-index: 9999999;
    width: 180px;
    max-height: 200px;
    overflow-y: auto;
    box-sizing: border-box;
    border-radius: 5px;
    position: fixed;

    &:focus {
        outline: none;
    }
}

.tag-input {
    // background-color: #d3e1eb;
    color: #0a25f4;
    // padding: 6px;
    // border-radius: 8px;
}