.message-popup {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #fff;
    opacity: 0;
}

.message-popup-opacity {
    opacity: 1;
}

.coss_message {
    background: var(--coss-background-tertiary);
    position: relative;

    /** 列表链接被按下时的背景颜色 */
    --f7-list-link-pressed-bg-color: rgba(0, 0, 0, 0);
    /** 动画时长 */
    --animate-duration: 0.3s;


    .page-content {
        // padding-top: calc(var(--f7-page-navbar-offset, 0px) + var(--f7-page-toolbar-top-offset, 0px) + var(--f7-page-subnavbar-offset, 0px) + var(--f7-page-searchbar-offset, 0px) + var(--f7-page-content-extra-padding-top, 0px));
        // padding-top: 88px;
        // test
        padding: 0;

        &::-webkit-scrollbar {
            display: none;
        }

        .list .item-content {
            align-items: flex-start;

            .icon-checkbox {
                margin-top: 20px;
            }
        }

        .coss_toolbar {
            background-color: var(--coss-background-primary);
            // background-color: rgba(var(--f7-navbar-bg-color-rgb, var(--f7-bars-bg-color-rgb)), var(--f7-bars-translucent-opacity));
            // -webkit-backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));
            // backdrop-filter: saturate(180%) blur(var(--f7-bars-translucent-blur));
        }
    }


    .coss_message_editor {
        @apply max-w-full;

        p {
            @apply text-ellipsis whitespace-nowrap overflow-hidden text-[0.75rem] w-[85%] text-textTertiary;
        }
    }

    .message-bg {
        animation: bgAnimation 0.3s ease forwards;
    }

    @keyframes bgAnimation {
        0% {
            opacity: 1;
            z-index: -1;
        }

        100% {
            opacity: 0;
            z-index: -1;
        }
    }

}


.coss_message_navbar {
    background-color: var(--coss-background-primary);

    --f7-navbar-bg-color-rgb: var(--coss-background-primary);
    --f7-navbar-bg-color: var(--coss-background-primary);
    --f7-theme-color-bg-color: var(--coss-background-primary);

    & .navbar-bg {
        background-color: transparent;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
    }

    & .subnavbar {
        background-color: transparent;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        // background-color: var(--coss-background-primary);
        margin-top: 0;
        padding: 0;
        // margin-top: -12px;
        font-size: 14px;
        border-bottom: none;
        padding-top: 6px;
        // box-sizing: border-box;
        height: auto;

        .subnavbar-inner {
            padding: 0 6px;
        }

        .segmented {

            .button {
                color: var(--coss-text-secondary, #666);
                padding: 0 !important;
            }

            .button-active {
                color: #fff;
                opacity: 0.8;
                border-radius: 4px;
            }
        }

        &:after {
            background: none;
        }
    }
}

.reply_editor {
    @apply text-ellipsis overflow-hidden w-fit text-textTertiary line-clamp-1 max-w-[70%];

    p {
        @apply text-ellipsis overflow-hidden w-fit text-textTertiary line-clamp-1 max-w-[70%];
    }
}

.keyboard-show {
    // transform: translateY(-50%);
    transition: transform 0.3s;
    // transform: translateY(-attr(data-height));
}

.keyboard-hide {
    transform: translateY(317px);
    transition: transform 0.3s;
}