.am-engine {
    // background: inherit !important;
    background-color: inherit !important;
    color: inherit !important;
    font-size: inherit !important;

    p {
        word-break: break-all;
        font-size: inherit !important;

    }
}

[data-placeholder]:focus {
    content: none;
}

// .aomao-editor.am-engine .data-mention-component,
// .aomao-editor.am-engine-view .data-mention-component {
//     color: #84ff18 !important;
// }