.root {
    display: flex;
    gap: 16px;
    padding: 4px;
    border-radius: 4px;
}

.message {
    padding: 8px;
    border-radius: 12px;
    background-color: var(--theme-main-color);
    box-shadow: 0 1px 2px 0 rgba(16, 35, 47, 0.15);
}

.avatar {
    height: 50px;
    min-width: 50px;
    background-color: var(--theme-hover-color);
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.author {
    font-weight: 500;
    margin-bottom: 4px;
    color: #cd4073;
}
