.ios .item-input-error-message,
.ios .item-input-info {
	position: absolute !important;
	top: 100% !important;
	margin-top: 8px !important;
	right: 0 !important;
}

.el-input {
	margin-bottom: 16px;
}
