.room-content-group {
	// grid grid-rows-2 grid-cols-3
	// position: fixed;
	// top: 0;
	// left: 0;
}

.room-content {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	.video_box {
		video {
			max-width: unset;
			height: 100vh !important;
		}
	}
	.self_video {
		video {
			width: 25%;
			height: 10%;
			position: fixed;
			top: 4%;
			right: 5%;
		}
	}
}
