.room-content-group {
	.video_box {
		video {
			max-width: unset;
			height: 100%;
			// display: none;
		}
	}
	.avctiv {
		video {
			max-width: unset;
			height: 100%;
			transform: translateX(-50%);
			position: fixed;
			top: 0;
			left: 50%;
			z-index: 1;
		}
	}
}

.room-content {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	.video_box {
		height: 100%;
		video {
			max-width: unset;
			height: 100%;
		}
	}
	.self_video {
		width: 20%;
		height: 15%;
		position: fixed;
		top: 4%;
		right: 4%;
		z-index: 9999;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		video {
			height: 100%;
		}
	}
}
