// .profile-page {
// 	--f7-list-button-text-align: left;
// }

.profile-actions-links {
	display: flex;
	align-items: center;

	.link {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.1);

		+ .link {
			margin-left: 12px;
		}

		i {
			font-size: 18px;
		}
	}

	.dark & .link {
		background: rgba(255, 255, 255, 0.1);
	}
}
