.router-transition-f7-custom-forward,
.router-transition-f7-custom-backward {
    // background: #000;
    // perspective: 0px;
}

.router-transition-f7-custom-forward .page-next {
    animation: f7-custom-next-to-current 200ms forwards;
}

.router-transition-f7-custom-forward .page-current {
    animation: f7-custom-current-to-prev 200ms forwards;
}

.router-transition-f7-custom-backward .page-current {
    animation: f7-custom-current-to-next 200ms forwards;
}

.router-transition-f7-custom-backward .page-previous {
    animation: f7-custom-prev-to-current 200ms forwards;
}

@keyframes f7-custom-next-to-current {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes f7-custom-current-to-next {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes f7-custom-current-to-prev {
    from {
        transform: translateZ(0);
        opacity: 1;
    }

    to {
        transform: translateZ(-300px);
        opacity: 0.5;
    }
}

@keyframes f7-custom-prev-to-current {
    from {
        transform: translateZ(-300px);
        opacity: 0.5;
    }

    to {
        transform: translateZ(0);
        opacity: 1;
    }
}