.router-transition-f7-custom-forward,
.router-transition-f7-custom-backward {
    perspective: 0px;
    // transition: all 0;
}


/** 进入页面前 */
.router-transition-f7-custom-forward .page-next {
    animation: f7-custom-next-to-current 300ms forwards;
}


.router-transition-f7-custom-forward .page-current {
    animation: f7-custom-current-to-prev 300ms forwards;
}

/** 离开页面前 */
.router-transition-f7-custom-backward .page-current {
    animation: f7-custom-current-to-next 400ms forwards;
}

.router-transition-f7-custom-backward .page-previous {
    animation: f7-custom-prev-to-current 400ms forwards;
}

@keyframes f7-custom-next-to-current {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes f7-custom-current-to-next {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes f7-custom-current-to-prev {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}

@keyframes f7-custom-prev-to-current {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}