:root {
	--color-primary: #33a854;
	--color-white: #fff;
	/** App background color */
	--body-background: var(--color-white);
	/** App header background color */
	--header-background: var(--color-white);
	/** App footer background color */
	--footer-background: var(--color-white);
	/** App primary color */
	--color-green: #33a854;
	/** App text color */
	--color-33: #333;
	/** App text color */
	--color-cc: #ccc;
	/** App text color */
	--color-60: #606266;
	/** App text color */
	--color-90: #909399;
	/** App text color */
	--app-content-color: #fff;
	/** App text color */
	--gutter: 16px;
	/** f7-navbar background color */
	--f7-navbar-bg-color-rgb: var(--body-background);
	--f7-page-bg-color: var(--body-background);
}

[data-theme='dark']:root {
	--nav-bar-bg-color: 0, 0, 0;
	--nav-bar-text-color: 255, 255, 255;
	--body-background: #212121;
	--header-background: #333;
	--footer-background: #333;
	--color-green: #33a854;
	--color-33: var(--color-white);
	--color-60: var(--color-cc);
	--color-90: #909399;
	--app-content-color: #333;
}
