:root {
    --primary: 153 47% 49%;
    --radius: 0.5rem;
    --gradient: linear-gradient(to bottom, hsl(var(--primary)/0.3), hsl(252 26% 39% /0.3));
}

:root {
    --background: 0 0% 100%;
    --border: 0 0% 20%;
    --background-hover: 0 0% 96%;
    --background2: 0 8.78% 93.04%;
    --background3: 0 0% 96%;
}

.dark {
    --background: 222.2 84% 4.9%;
    --border: 217.2 32.6% 17.5%;
    --background-hover: 0 0% 96%;
    --background2: 0 0% 96%;
    --background3: 0 0% 96%;
}