:root {
    --primary: 153, 47%, 49%;
    --radius: 0.5rem;
}

:root {
    --background: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --background-hover: 0, 0%, 96%;
}

.dark {
    --background: 222.2 84% 4.9%;
    --border: 217.2 32.6% 17.5%;
    --background-hover: 0, 0%, 96%;
}