.page-content {
	width: 100%;
	position: relative;
	.lk-control-bar {
		.lk-disconnect-button {
			display: none;
		}
	}
}

#view-call + .app {
	#view-dialog .message-toolbar {
		display: none;
	}
}

.hide-call {
	position: fixed;
}
