.read-editor {
    @apply text-[1rem] overflow-hidden px-2 break-all;

    .read-editor-reply {
        @apply border-l-[2px] border-l-bgPrimary px-[0.5rem] mb-[0.5rem]  block max-w-[200px] overflow-hidden;

        p {
            @apply text-ellipsis whitespace-nowrap overflow-hidden w-full;
        }

        .read-editor-reply-name {
            font-weight: bold;
        }
    }

    img {
        @apply max-h-[220px] w-auto object-cover;
    }
}

.read-editor-no-slef {
    .read-editor-reply {
        @apply border-l-primary;
    }
}

.reply-read-editor {
    font-size: 0.9rem;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
}

.dialog-read-editor {
    @apply text-ellipsis whitespace-nowrap overflow-hidden w-full text-[0.925rem] px-0 flex;

    p {
        @apply text-ellipsis whitespace-nowrap overflow-hidden w-full text-[0.925rem] px-0;
    }
}